version: "3.9"

services:
  node_app:
    build:
      context: ./app
    container_name: node_app
    volumes:
      - ./app:/app
    networks:
      - node-network
    depends_on:
      - db

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - node-network
    depends_on:
      - node_app

  db:
    image: mysql
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    command: --innodb-use-native-aio=0
    networks:
      - node-network

networks:
  node-network:
    driver: bridge